name: CD Pipeline

on:
  push:
    branches: [main]

env:
  IMAGE_NAME: calculator-api

jobs:
  test:
    name: Tests de validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: pytest test_calculator.py --cov=app -v

  build-and-push:
    name: Build & Push Docker Image
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:${{ github.sha }} .
          docker tag ${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.IMAGE_NAME }}:latest

  deploy-staging:
    name: Deploy to Staging
    needs: build-and-push
    runs-on: ubuntu-latest
    environment:
      name: staging
    steps:
      - name: Deploiement staging
        run: |
          echo "==============================="
          echo "  DEPLOIEMENT STAGING"
          echo "==============================="
          echo "Image: ${{ env.IMAGE_NAME }}:${{ github.sha }}"
          echo "Deploiement staging REUSSI !"

  deploy-production:
    name: Deploy to Production
    needs: deploy-staging
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Deploiement production
        run: |
          echo "==============================="
          echo "  DEPLOIEMENT PRODUCTION"
          echo "==============================="
          echo "Image: ${{ env.IMAGE_NAME }}:${{ github.sha }}"
          echo "Deploiement production REUSSI !"
